<form [formGroup]="formGroup">
    <div>
        <label>Puck X</label>
        <input [formControl]="formGroup.controls.puckX" type="number"/>
    </div>

    <div>
        <label>Puck Y</label>
        <input [formControl]="formGroup.controls.puckY" type="number" />
    </div>

    <div>
        <label>Speed</label>
        <input [formControl]="formGroup.controls.speed" type="number" />
    </div>

    <div>
        <label>Angle</label>
        <input [formControl]="formGroup.controls.angle" type="number" />
    </div>

    <button (click)="puckShot$.next(formGroup.value)">Shot</button>
</form>

<canvas #game [height]="RINK_WIDTH_PX" [width]="RINK_LENGTH_PX"></canvas>